.page-what-group {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 50px;
}
.group-ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.group-li {
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.group-people {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.group-people2 {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
}

.about-3 {
  background: #f5f4fa;
  padding-bottom: 94px;
}
.svg-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.div-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ul-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.ul-svg .svg-a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
}
.svg-a:nth-last-child(1) {
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-a:hover,
.svg-a:focus {
  background-color: #2196f3;
}
.svg-a:hover .svg-icon,
.svg-a:focus .svg-icon {
  fill: #ffffff;
}
